<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Vue Template</title>
	<link href="style.css" rel="stylesheet" type="text/css" />

  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
	<h1>Build A Form With Vue</h1>

  <div id="form">
    <label for="full-name">Full Name</label>
    <input id="full-name" v-model="inputText" placeholder="John Doe"/>
    <p> {{ inputText }} </p>

    <p>Enter your Question/Comment</p>
    <p style="white-space: pre-line;">{{ textAreaContent }}</p>
    <textarea v-model="textAreaContent" placeholder="Eg. I have a question...">
    </textarea>
  </div>

  <script src="script.js">
	</script>
</body>

</html>